.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    list-style: none;
    padding: 0;
    flex-grow: 0.1;
    justify-content: space-around;
}

